{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": ".",
    "parser": {
      "dynamicImport": true,
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "module": {
    "noInterop": true,
    "resolveFully": true,
    "strictMode": true,
    "type": "es6"
  },
  "sourceMaps": true
}
